#about-container {
  height: 100vh;
  margin-left: 10em;
  margin-right: 10em;
  font-family: "Alice", serif;
}

#about-container h2 {
  font-family: "Playfair Display", serif;
  color: #0250a3;
  font-size: 4em;
}

#about-text {
  font-size: 2rem;
}
#text-container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
