#home-container {
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  font-family: "Alice", serif;
}

#home {
  height: 100vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-family: "Alice", serif;
}

#home img {
  width: 30rem;
  border-radius: 25px;
  height: 30rem;
}

#text-container-home {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

#text-container-home h1 {
  color: #0250a3;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
}

#text-container-home p {
  font-size: 2rem;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
